@page "/"

<div class="space-y-8">
    <div class="flex bg-gradient-to-tl from-purple-900 to-indigo-500 w-full h-[30rem] text-white p-12 px-20 select-none">
        <div class="text-center m-auto ml-0 w-fit max-w-[20rem]">
            <i class="bi bi-music-note-beamed text-[80px]"></i>
            <p class="font-bold text-xl">
                Acesso Exclusivo a Performances Legendárias
            </p>
            <p class="text-sm font-[300]">
                Experiencie concertos únicos e conheça os seus artistas exclusivos
            </p>
        </div>
        <div class="text-center m-auto w-fit max-w-[20rem]">
            <i class="bi bi-balloon-heart-fill text-[80px]"></i>
            <p class="font-bold text-xl">
                Suporte Causas Humanitárias Através do Poder da Música
            </p>
            <p class="text-sm font-[300]">
                Cada compra ajuda a fazer a diferença
            </p>
        </div>
        <div class="text-center m-auto mr-0 w-fit max-w-[20rem]">
            <i class="bi bi-stars text-[80px]"></i>
            <p class="font-bold text-xl">
                Mergulhe em Experiências Musicais Inesquecíveis
            </p>
            <p class="text-sm font-[300]">
                Desde conjuntos acústicos íntimos a performances eletrizantes em estádios
            </p>
        </div>
    </div>
    <div class="space-y-4">
        <h1 class="text-3xl font-[600]">Quem Somos?</h1>
        <p class="text-lg text-justify">
            A <span class="font-medium">Rhythms Of Giving</span> é uma organização sem fins lucrativos que nasceu da paixão pela música e pela
            solidariedade. Acreditamos que a música tem o poder de unir as pessoas, de despertar emoções e de inspirar ações. Por isso, criámos
            uma plataforma de leilões online onde os fãs da música podem licitar experiências exclusivas com os seus artistas favoritos, desde
            concertos privados a meet and greets, passando por merchandising autografado e muito mais. Mas o melhor de tudo é que, ao participar
            nos nossos leilões, os fãs da música estão também a contribuir para causas sociais importantes, pois parte do valor arrecadado é doado
            a instituições de caridade parceiras da Rhythms of Giving. Assim, a nossa missão é transformar o amor pela música numa força positiva
            e transformadora para a sociedade, criando momentos inesquecíveis para os fãs e para os que mais precisam.
        </p>
    </div>
    <div class="space-y-4">
        <h1 class="text-3xl font-[600]">A Nossa Missão</h1>
        <p class="text-lg text-justify">
            Acreditamos que a música é uma linguagem universal que une as pessoas e desperta emoções. 
            Por isso, queremos partilhar com os nossos clientes experiências musicais inesquecíveis, que os façam sentir-se mais próximos 
            dos seus ídolos e mais felizes. Mas não nos ficamos por aqui. Queremos também que a nossa paixão pela música se traduza em ações 
            concretas para melhorar o mundo. Por isso, destinamos uma parte do valor de cada leilão a causas sociais que nos são caras, como a educação, 
            a saúde, o ambiente e os direitos humanos. Assim, ao participar nos nossos leilões, não só terá acesso a oportunidades exclusivas de conhecer 
            os seus artistas favoritos, assistir a concertos privados, visitar bastidores e muito mais, como também estará a contribuir para um futuro mais
            justo e sustentável para todos. Junte-se a nós nesta missão e faça da música uma força positiva e transformadora!
        </p>
    </div>
</div>
