@page "/informacao-pessoal"
@using RhythmsOfGiving.Controller.UI
@inject UiService UiService

<PageTitle>Informação Pessoal</PageTitle>

<AuthorizeView>
    <Authorized Role="User">
        <div>
            hello
        </div>
    </Authorized>
</AuthorizeView>

@code {
 
    

}