@page "/instituicoes"
@using RhythmsOfGiving.Controller.UI
@inject UIService UIService

<PageTitle>Instituições</PageTitle>

<div class="space-y-6 py-8">
    @foreach (InstituicaoUI instituicao in UIService.GetInstituicoes()) {
        <InstituicaoBlock Instituicao="instituicao" />
    }
</div>
