@page "/instituicoes"

@using RhythmsOfGiving.Shared
@using RhythmsOfGiving.Controller

<PageTitle>Instituições</PageTitle>

<div class="space-y-6 py-8">
    @foreach (Instituicao instituicao in getInstituicoes()) {
        <InstituicaoBlock Instituicao="instituicao" />
    }
</div>

@code {
    private List<Instituicao> getInstituicoes() {
        List<Instituicao> instituicoes = new List<Instituicao>();
        instituicoes.Add(new Instituicao(1, "Cruz Vermelha Portuguesa", "Constitui missão da CVP prestar assistência humanitária e social, em especial aos mais vulneraveis, prevenindo e reparando o sofrimento e contribuindo para a defesa da vida, da saúde e da dignidade humana.", "https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Logo_CVP.svg/800px-Logo_CVP.svg.png", "https://www.cruzvermelha.pt/", "PT50003300004524212764005", 2));
        return instituicoes;
    }
}
