@page "/leiloes"
@using RhythmsOfGiving.Controller
@inject UIService UIService

<PageTitle>Leilões</PageTitle>

<div class="space-y-6 py-8">
    @foreach (LeilaoUI leilao in UIService.GetLeiloesDisponiveis()) {
        <LeilaoBlock Leilao="leilao" />
    }
</div>
