@page "/leiloes"

<div class="space-y-6">
    <div class="flex border h-fit rounded-2xl shadow-sm overflow-hidden">
        @* Informações *@
        <div class="p-8 space-y-4 w-full">
            @* Nome Artista *@
            <div class="flex space-x-2 items-center select-none">
                <div class="rounded-full bg-gray-300 p-4 w-4"></div>
                <p class="font-[600]">Taylor Swift</p>
            </div>
            @* Titulo Leilao *@
            <p class="font-[600] text-2xl">
                The Eras Tour: Exclusive VIP Seating
            </p>
            @* Detalhes *@
            <div class="flex text-gray-400 select-none">
                <p class="w-fit m-auto ml-0">Género - <text class="font-medium">Pop</text></p>
                <p class="w-fit m-auto">Tipo - <text class="font-medium">Inglês</text></p>
                <p class="w-fit m-auto mr-0">Fim - <text class="font-medium">24/12/2023</text></p>
            </div>
            @* Descrição *@
            <p class="text-justify">
                Viva uma experiência única e exclusiva num espetáculo do maior nome na indústria musical. Tenha acesso a uma visão total e desobstruída para o palco, com acesso incluído a bar e outras vantagens.
            </p>
            @* Botão e Preço *@
            <div class="flex space-x-4 select-none place-content-between">
                <button class="min-w-80 w-full hover:bg-rhythms hover:text-white bg-rhythms/10 text-rhythms py-2 font-medium rounded-xl transition-all">
                    Licitar ->
                </button>
                <div class="text-center min-w-fit">
                    <p class="text-sm text-gray-400 font-medium">
                        a sua licitação:
                    </p>
                    <p class="text-xl font-[600] text-rhythms/50">
                        7500,00€
                    </p>
                </div>
                <div class="text-center min-w-fit">
                    <p class="text-sm text-gray-400 font-medium">
                        última licitação:
                    </p>
                    <p class="text-xl font-[600] text-rhythms">
                        8543,92€
                    </p>
                </div>
            </div>
        </div>
        @* Imagem *@
        <div class="min-w-[25rem] bg-gray-300 hidden lg:block">
            
        </div>
    </div>
    <div class="flex border h-fit rounded-2xl shadow-sm overflow-hidden">
        @* Informações *@
        <div class="p-8 space-y-4 w-full">
            @* Nome Artista *@
            <div class="flex space-x-2 items-center select-none">
                <div class="rounded-full bg-gray-300 p-4 w-4"></div>
                <p class="font-[600]">Taylor Swift</p>
            </div>
            @* Titulo Leilao *@
            <p class="font-[600] text-2xl">
                The Eras Tour: Exclusive VIP Seating
            </p>
            @* Detalhes *@
            <div class="flex text-gray-400 select-none">
                <p class="w-fit m-auto ml-0">Género - <text class="font-medium">Pop</text></p>
                <p class="w-fit m-auto">Tipo - <text class="font-medium">Inglês</text></p>
                <p class="w-fit m-auto mr-0">Fim - <text class="font-medium">24/12/2023</text></p>
            </div>
            @* Descrição *@
            <p class="text-justify">
                Viva uma experiência única e exclusiva num espetáculo do maior nome na indústria musical. Tenha acesso a uma visão total e desobstruída para o palco, com acesso incluído a bar e outras vantagens.
            </p>
            @* Botão e Preço *@
            <div class="flex space-x-4 select-none place-content-between">
                <button class="min-w-80 w-full hover:bg-rhythms hover:text-white bg-rhythms/10 text-rhythms py-2 font-medium rounded-xl transition-all">
                    Licitar ->
                </button>
                <div class="text-center min-w-fit">
                    <p class="text-sm text-gray-400 font-medium">
                        a sua licitação:
                    </p>
                    <p class="text-xl font-[600] text-rhythms/50">
                        7500,00€
                    </p>
                </div>
                <div class="text-center min-w-fit">
                    <p class="text-sm text-gray-400 font-medium">
                        última licitação:
                    </p>
                    <p class="text-xl font-[600] text-rhythms">
                        8543,92€
                    </p>
                </div>
            </div>
        </div>
        @* Imagem *@
        <div class="min-w-[25rem] bg-gray-300 hidden lg:block">
            
        </div>
    </div>
    <div class="flex border h-fit rounded-2xl shadow-sm overflow-hidden">
        @* Informações *@
        <div class="p-8 space-y-4 w-full">
            @* Nome Artista *@
            <div class="flex space-x-2 items-center select-none">
                <div class="rounded-full bg-gray-300 p-4 w-4"></div>
                <p class="font-[600]">Taylor Swift</p>
            </div>
            @* Titulo Leilao *@
            <p class="font-[600] text-2xl">
                The Eras Tour: Exclusive VIP Seating
            </p>
            @* Detalhes *@
            <div class="flex text-gray-400 select-none">
                <p class="w-fit m-auto ml-0">Género - <text class="font-medium">Pop</text></p>
                <p class="w-fit m-auto">Tipo - <text class="font-medium">Inglês</text></p>
                <p class="w-fit m-auto mr-0">Fim - <text class="font-medium">24/12/2023</text></p>
            </div>
            @* Descrição *@
            <p class="text-justify">
                Viva uma experiência única e exclusiva num espetáculo do maior nome na indústria musical. Tenha acesso a uma visão total e desobstruída para o palco, com acesso incluído a bar e outras vantagens.
            </p>
            @* Botão e Preço *@
            <div class="flex space-x-4 select-none place-content-between">
                <button class="min-w-80 w-full hover:bg-rhythms hover:text-white bg-rhythms/10 text-rhythms py-2 font-medium rounded-xl transition-all">
                    Licitar ->
                </button>
                <div class="text-center min-w-fit">
                    <p class="text-sm text-gray-400 font-medium">
                        a sua licitação:
                    </p>
                    <p class="text-xl font-[600] text-rhythms/50">
                        7500,00€
                    </p>
                </div>
                <div class="text-center min-w-fit">
                    <p class="text-sm text-gray-400 font-medium">
                        última licitação:
                    </p>
                    <p class="text-xl font-[600] text-rhythms">
                        8543,92€
                    </p>
                </div>
            </div>
        </div>
        @* Imagem *@
        <div class="min-w-[25rem] bg-gray-300 hidden lg:block">
            
        </div>
    </div>
    <div class="flex border h-fit rounded-2xl shadow-sm overflow-hidden">
        @* Informações *@
        <div class="p-8 space-y-4 w-full">
            @* Nome Artista *@
            <div class="flex space-x-2 items-center select-none">
                <div class="rounded-full bg-gray-300 p-4 w-4"></div>
                <p class="font-[600]">Taylor Swift</p>
            </div>
            @* Titulo Leilao *@
            <p class="font-[600] text-2xl">
                The Eras Tour: Exclusive VIP Seating
            </p>
            @* Detalhes *@
            <div class="flex text-gray-400 select-none">
                <p class="w-fit m-auto ml-0">Género - <text class="font-medium">Pop</text></p>
                <p class="w-fit m-auto">Tipo - <text class="font-medium">Inglês</text></p>
                <p class="w-fit m-auto mr-0">Fim - <text class="font-medium">24/12/2023</text></p>
            </div>
            @* Descrição *@
            <p class="text-justify">
                Viva uma experiência única e exclusiva num espetáculo do maior nome na indústria musical. Tenha acesso a uma visão total e desobstruída para o palco, com acesso incluído a bar e outras vantagens.
            </p>
            @* Botão e Preço *@
            <div class="flex space-x-4 select-none place-content-between">
                <button class="min-w-80 w-full hover:bg-rhythms hover:text-white bg-rhythms/10 text-rhythms py-2 font-medium rounded-xl transition-all">
                    Licitar ->
                </button>
                <div class="text-center min-w-fit">
                    <p class="text-sm text-gray-400 font-medium">
                        a sua licitação:
                    </p>
                    <p class="text-xl font-[600] text-rhythms/50">
                        7500,00€
                    </p>
                </div>
                <div class="text-center min-w-fit">
                    <p class="text-sm text-gray-400 font-medium">
                        última licitação:
                    </p>
                    <p class="text-xl font-[600] text-rhythms">
                        8543,92€
                    </p>
                </div>
            </div>
        </div>
        @* Imagem *@
        <div class="min-w-[25rem] bg-gray-300 hidden lg:block">
            
        </div>
    </div>
    <div class="flex border h-fit rounded-2xl shadow-sm overflow-hidden">
        @* Informações *@
        <div class="p-8 space-y-4 w-full">
            @* Nome Artista *@
            <div class="flex space-x-2 items-center select-none">
                <div class="rounded-full bg-gray-300 p-4 w-4"></div>
                <p class="font-[600]">Taylor Swift</p>
            </div>
            @* Titulo Leilao *@
            <p class="font-[600] text-2xl">
                The Eras Tour: Exclusive VIP Seating
            </p>
            @* Detalhes *@
            <div class="flex text-gray-400 select-none">
                <p class="w-fit m-auto ml-0">Género - <text class="font-medium">Pop</text></p>
                <p class="w-fit m-auto">Tipo - <text class="font-medium">Inglês</text></p>
                <p class="w-fit m-auto mr-0">Fim - <text class="font-medium">24/12/2023</text></p>
            </div>
            @* Descrição *@
            <p class="text-justify">
                Viva uma experiência única e exclusiva num espetáculo do maior nome na indústria musical. Tenha acesso a uma visão total e desobstruída para o palco, com acesso incluído a bar e outras vantagens.
            </p>
            @* Botão e Preço *@
            <div class="flex space-x-4 select-none place-content-between">
                <button class="min-w-80 w-full hover:bg-rhythms hover:text-white bg-rhythms/10 text-rhythms py-2 font-medium rounded-xl transition-all">
                    Licitar ->
                </button>
                <div class="text-center min-w-fit">
                    <p class="text-sm text-gray-400 font-medium">
                        a sua licitação:
                    </p>
                    <p class="text-xl font-[600] text-rhythms/50">
                        7500,00€
                    </p>
                </div>
                <div class="text-center min-w-fit">
                    <p class="text-sm text-gray-400 font-medium">
                        última licitação:
                    </p>
                    <p class="text-xl font-[600] text-rhythms">
                        8543,92€
                    </p>
                </div>
            </div>
        </div>
        @* Imagem *@
        <div class="min-w-[25rem] bg-gray-300 hidden lg:block">
            
        </div>
    </div>
    <div class="flex border h-fit rounded-2xl shadow-sm overflow-hidden">
        @* Informações *@
        <div class="p-8 space-y-4 w-full">
            @* Nome Artista *@
            <div class="flex space-x-2 items-center select-none">
                <div class="rounded-full bg-gray-300 p-4 w-4"></div>
                <p class="font-[600]">Taylor Swift</p>
            </div>
            @* Titulo Leilao *@
            <p class="font-[600] text-2xl">
                The Eras Tour: Exclusive VIP Seating
            </p>
            @* Detalhes *@
            <div class="flex text-gray-400 select-none">
                <p class="w-fit m-auto ml-0">Género - <text class="font-medium">Pop</text></p>
                <p class="w-fit m-auto">Tipo - <text class="font-medium">Inglês</text></p>
                <p class="w-fit m-auto mr-0">Fim - <text class="font-medium">24/12/2023</text></p>
            </div>
            @* Descrição *@
            <p class="text-justify">
                Viva uma experiência única e exclusiva num espetáculo do maior nome na indústria musical. Tenha acesso a uma visão total e desobstruída para o palco, com acesso incluído a bar e outras vantagens.
            </p>
            @* Botão e Preço *@
            <div class="flex space-x-4 select-none place-content-between">
                <button class="min-w-80 w-full hover:bg-rhythms hover:text-white bg-rhythms/10 text-rhythms py-2 font-medium rounded-xl transition-all">
                    Licitar ->
                </button>
                <div class="text-center min-w-fit">
                    <p class="text-sm text-gray-400 font-medium">
                        a sua licitação:
                    </p>
                    <p class="text-xl font-[600] text-rhythms/50">
                        7500,00€
                    </p>
                </div>
                <div class="text-center min-w-fit">
                    <p class="text-sm text-gray-400 font-medium">
                        última licitação:
                    </p>
                    <p class="text-xl font-[600] text-rhythms">
                        8543,92€
                    </p>
                </div>
            </div>
        </div>
        @* Imagem *@
        <div class="min-w-[25rem] bg-gray-300 hidden lg:block">
            
        </div>
    </div>
</div>
