@page "/leiloes"

@using RhythmsOfGiving.Shared
@using RhythmsOfGiving.Controller

<PageTitle>Leilões</PageTitle>

<div class="space-y-6 py-8">
    @foreach (Leilao leilao in getLeiloes()) {
        <LeilaoBlock Leilao="leilao" />
    }
</div>

@code {
    private List<Leilao> getLeiloes() {
        List<Leilao> leiloes = new List<Leilao>();
        leiloes.Add(new Leilao("Taylor Swift", "The Eras Tour: Exclusive VIP Seating", "Lisboa", "Pop", "Inglês", "2023-12-23", "Viva uma experiência única e exclusiva num espetáculo do maior nome na indústria musical. Tenha acesso a uma visão total e desobstruída para o palco, com acesso incluído a bar e outras vantagens.", "Participe neste emocionante leilão e tenha a oportunidade de experienciar o espetáculo mais esperado do ano de uma forma que nunca imaginou possível. Para além de desfrutar de uma vista privilegiada e desobstruída do palco, será tratado como uma verdadeira celebridade. O seu acesso VIP inclui uma entrada exclusiva para o bar, onde poderá degustar os melhores cocktails e petiscos enquanto se prepara para uma noite inesquecível. Sinta-se como parte integrante do espetáculo, enquanto Taylor Swift hipnotiza o público com seus êxitos lendários e faixas do seu último álbum.", 6500f, "https://media.seudinheiro.com/uploads/2023/09/Taylor-Swift-The-Eras-Tour-715x402.jpg", "images/taylorswiftperfil.jpg", false));
        leiloes.Add(new Leilao("Harry Styles", "Love On Tour: Exclusive Meet-Up", "Porto", "Pop", "Cegas", "2024-01-30", "Viva uma experiência única e exclusiva num espetáculo de um dos maiores nomes na indústria musical. Tenha acesso a uma visão total e desobstruída para o palco e ainda um encontro exclusivo com o artista pós-espetáculo.", "", 2500f, "https://images.impresa.pt/expresso/2023-02-12-harry-styles.jpg-62d6c4d8/original", "https://images.impresa.pt/expresso/2022-01-19-harry-styles/original", true));
        return leiloes; 
    }
}
