@page "/login"
@using RhythmsOfGiving.Controller.UI
@using RhythmsOfGiving.Authentication
@layout EmptyLayout

@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager
@inject IJSRuntime js
@inject UiService UiService

<PageTitle>Login</PageTitle>

<div class="h-full flex flex-col justify-center z-50">
    <div class="space-y-16">
        <img src="/images/rog_color.png" class="w-[30rem] m-auto"/>
        <div class="bg-white border rounded-xl p-8 w-[30rem] h-fit m-auto space-y-4 shadow-md">
            <h1 class="text-3xl font-[600] pb-4 border-b w-full">Login</h1>
            <form class="space-y-4" @onsubmit="Authenticate">
                <div>
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                    <div class="mt-2">
                        <InputText @bind-Value="@Email" type="email" name="email" id="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-rhythms sm:text-sm sm:leading-6 px-4" placeholder="you@example.com"/>
                    </div>
                </div>
                <div>
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                    <div class="mt-2">
                        <InputText @bind-Value="@Password" type="password" name="password" id="password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-rhythms sm:text-sm sm:leading-6 px-4"/>
                    </div>
                </div>
                <button type="submit" class="w-full bg-rhythms/10 text-rhythms rounded-lg py-2 font-medium hover:bg-rhythms hover:text-white transition-colors">
                    Entrar ->
                </button>
                <div class="text-right w-full text-sm">
                    Sem conta? Registe-se <a href="/registo" class="text-rhythms hover:underline">aqui</a>
                </div>
            </form>
        </div>
    </div>
</div>

@code {
    private string Email { get; set; }
    private string Password { get; set; }

    private async Task Authenticate()
    {
        int idLicitador = 0;
        try
        {
            idLicitador = UiService.Login(Email, Password);
        }
        catch (Exception e)
        {
            await js.InvokeVoidAsync("alert", e.Message);
            return;
        }

        RhythmsAuthStateProvider rhythmsAuthStateProvider = (RhythmsAuthStateProvider) AuthStateProvider;
        UserUI infoUser = UiService.GetInformacaoUtilizador(idLicitador, Email);
        await rhythmsAuthStateProvider.UpdateAuthenticationState(new UserSession
        {
            Email = Email,
            IdLicitador = idLicitador,
            Name = infoUser.GetNome(),
            Role = infoUser.GetRole()
        });
        NavManager.NavigateTo("/leiloes", true);
    }
}
