@inherits LayoutComponentBase

<div class="absolute h-screen w-screen top-0 left-0 overflow-hidden -z-50">
        <div class="absolute w-[170vh] h-[170vh] rounded-full bg-gray-200 -z-40 -top-20 -left-[65vh]"/>
        <div class="absolute w-[170vh] h-[170vh] rounded-full bg-gray-100 -z-30 top-[15rem] left-[80vh]"/>
</div>
<main class="h-screen font-inter z-50">
        @Body
</main>
