@using RhythmsOfGiving.Controller.UI

<div class="grid grid-cols-3 border h-96 rounded-2xl shadow-sm overflow-hidden">
    @* Informações *@
    <div class="xl:col-span-2 col-span-3 h-full grid grid-cols-1 gap-4 content-between p-8">
        @* Nome da Instituição *@
        <p class="font-[600] text-2xl">
            @GetNome()
        </p>
        @* Descrição *@
        <p class="text-justify">
            @GetDescricao()
        </p>
        @* Botão Saiba Mais *@
        <button onclick="location.href='@GetLink()';" class="min-w-80 w-full hover:bg-rhythms hover:text-white bg-rhythms/10 text-rhythms py-2 font-medium rounded-xl transition-all">
            Saiba Mais ->
        </button>
    </div>
    @* Imagem *@
    <div class="min-w-[25rem] h-96 bg-gray-300 hidden xl:block">
        <img class="object-cover h-full w-full" src=@GetLogoPath()/>
    </div>
</div>

@code {
    [EditorRequired]
    [Parameter]
    public InstituicaoUI Instituicao { get; set; }

    private string GetNome()
    {
        return Instituicao.GetNome();
    }

    private string GetDescricao()
    {
        return Instituicao.GetDescricao();
    }

    private string GetLink()
    {
        return Instituicao.GetLink();
    }

    private string GetLogoPath()
    {
        return Instituicao.GetLogoPath();
    }
}