@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using System.Text.Json
@inject IWebHostEnvironment Env

@using RhythmsOfGiving.Controller

<PageTitle>RhythmsOfGiving</PageTitle>

<div class="text-gray-900 font-inter">
    @if (!NavigationManager.Uri.EndsWith("/")) {
        <NavBar IsNotificacoesOpen="IsNotificacoesOpen" ToggleNotificacoes="ToggleNotificacoes"/>
    }

    <main class="p-8 lg:mx-20 xl:mx-64 2xl:mx-96 overflow-scroll">
        @Body
    </main>

    @if (IsNotificacoesOpen) {
        <NotificacoesModal Notificacoes="getNotificacoes()"/>
    }
</div>

@code {
    public bool IsNotificacoesOpen { get; set; } = false;
    public void ToggleNotificacoes() {
        IsNotificacoesOpen = !IsNotificacoesOpen;
    }
    public List<Notificacao> getNotificacoes() {
        List<Notificacao> nots = new List<Notificacao>();
        nots.Add(new Notificacao("A sua licitação foi ultrapassada!", "´The Eras Tour: Exclusive VIP Seating’", true, "Aumentar Licitação", "2024-01-09"));
        return nots;
    }
}
