@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IWebHostEnvironment Env

@using RhythmsOfGiving.Controller
@using RhythmsOfGiving.Shared

<PageTitle>RhythmsOfGiving</PageTitle>

<div class="text-gray-900 font-inter">
    @if (!NavigationManager.Uri.EndsWith("/")) {
        <NavBar IsNotificacoesOpen="IsNotificacoesOpen" ToggleNotificacoes="ToggleNotificacoes" IsLoggedIn=false />
    }
    else {
        <NavBar IsNotificacoesOpen="IsNotificacoesOpen" ToggleNotificacoes="ToggleNotificacoes" IsLoggedIn=true />
    }

    <main class="px-8 lg:px-20 2xl:px-64 overflow-scroll">
        @Body
    </main>

    @if (IsNotificacoesOpen) {
        <NotificacoesModal Notificacoes="getNotificacoes()"/>
    }
</div>

@code {
    public bool IsNotificacoesOpen { get; set; } = false;
    public void ToggleNotificacoes() {
        IsNotificacoesOpen = !IsNotificacoesOpen;
    }
    public List<Notificacao> getNotificacoes() {
        List<Notificacao> nots = new List<Notificacao>();
        nots.Add(new Notificacao("A sua licitação foi ultrapassada!", "´The Eras Tour: Exclusive VIP Seating’", true, "Aumentar Licitação", "2024-01-09", 0));
        return nots;
    }
}
