@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IWebHostEnvironment Env

<PageTitle>RhythmsOfGiving</PageTitle>

<div class="text-gray-900 font-inter">
    @if (!NavigationManager.Uri.EndsWith("/")) {
        <NavBar IsNotificacoesOpen="IsNotificacoesOpen" ToggleNotificacoes="ToggleNotificacoes" IsLoggedIn=false />
    }
    else {
        <NavBar IsNotificacoesOpen="IsNotificacoesOpen" ToggleNotificacoes="ToggleNotificacoes" IsLoggedIn=true />
    }

    <main class="px-8 lg:px-20 2xl:px-64 overflow-scroll">
        @Body
    </main>

    @if (IsNotificacoesOpen) {
        <NotificacoesModal />
    }
</div>

@code {
    public bool IsNotificacoesOpen { get; set; } = false;
    private void ToggleNotificacoes() {
        IsNotificacoesOpen = !IsNotificacoesOpen;
    }
}
