@using RhythmsOfGiving.Controller.UI
@inject UIService UIService

<div class="absolute right-4 top-20 w-72 h-fit max-h-96 border p-4 rounded-xl shadow-md transition-all bg-white">
    <h1 class="font-[600] text-2xl pb-2 border-b select-none">Notificações</h1>
    <div class="space-x-2 pt-2">
        @foreach (NotificacaoUI not in UIService.GetNotificacoesUtilizador("diogo@mail.com")) {
            <div class="border-b pb-2">
                <p class="font-medium">@not.GetTitle()</p>
                <p>@not.GetMessage()</p>
                @if (not.GetTipo() == 0) {
                    <button onclick="location.href='/leiloes/@not.GetIdLeilao()';" class="my-2 bg-rhythms/20 hover:bg-rhythms text-sm text-rhythms hover:text-white py-1 px-2 rounded-2xl transition-all font-medium">
                        Aumentar Licitação ->
                    </button>
                }
                <p class="text-gray-400 text-sm select-none">@not.GetDate().ToShortDateString()</p>
            </div>
        }
    </div>
</div>
