@using RhythmsOfGiving.Controller.UI
@inject UiService UiService

<div class="absolute right-4 top-20 w-72 h-fit max-h-96 border p-4 rounded-xl shadow-md transition-all bg-white space-y-2">
    <h1 class="font-[600] text-2xl pb-2 select-none">Olá, @UiService.GetNomeUtilizador("diogo@mail.com")</h1>
    <div class="text-gray-400 space-y-1">
        <p>
            <a class="hover:text-gray-900 transition-all" href="#">Informação Pessoal -></a>
        </p>
        <p>
            <a class="hover:text-gray-900 transition-all" href="#">Historial de Leilões -></a>
        </p>
        <p>
            <a class="hover:text-gray-900 transition-all" href="#">Leilões Ativos -></a>
        </p>
        <p>
            <a class="hover:text-gray-900 transition-all" href="#">Faturas -></a>
        </p>
        <p>
            <button class="text-red-400 underline decoration-red-400 hover:text-red-600 transition-all">Terminar Sessão</button>
        </p>
    </div>
</div>
